---
import type {CollectionEntry} from "astro:content";
import TableOfContents from "./TableOfContents.astro";
import NavSection from "./NavSection.astro";

interface Props {
	docs: CollectionEntry<"docs">[];
	currentPath: string;
	headings?: {
		depth: number;
		slug: string;
		text: string;
	}[];
}

const {docs, currentPath, headings = []} = Astro.props;

// Prepare items for the Styles section
const styleItems = docs.map((doc) => {
	const path = `/docs/${doc.slug}`;
	return {
		title: doc.data.title,
		path: path,
		isActive: currentPath === path,
		isDisabled: false,
	};
});

// Prepare items for the "comings soon" sections
const upcomingItems = [
	{title: "JavaScript", path: "#", isDisabled: true},
	{title: "Composants", path: "#", isDisabled: true},
	{title: "API", path: "#", isDisabled: true},
];
---

<nav class='nav'>
	<NavSection title='Styles' items={styleItems} />
	<NavSection title='Sections à venir' items={upcomingItems} />
</nav>

<TableOfContents headings={headings.filter((heading) => heading.depth <= 3)} />

<style>
	.nav {
		width: 100%;
	}
</style>
